<h1 style="text-align: center; padding: 1em 0">COVID-19</h1>
<highcharts-chart
  [Highcharts]="Highcharts"
  [constructorType]="chartConstructor"
  [options]="chartOptions"
  [callbackFunction]="chartCallback"
  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"
  [runOutsideAngular]="runOutsideAngular"
  style="width: 100%; height: 500px; display: block"
></highcharts-chart>
<hr/>
<h2 style="text-align: center; padding: 1em 0">Poslednji podaci</h2>
<table style="text-align: center; width: 100%; font-size: large;">
  <tr>
    <th style="width: 50%">Novozaraženi</th>
    <th style="width: 50%">
      Prosek novozareženih na 100k stanovnika u poslednjih 14 dana
    </th>
  </tr>
  <tr>
    <td>{{lastDayCases()}}</td>
    <td>{{lastAvg()}}</td>
  </tr>
</table>
<hr/>
<h3 style="text-align: center; margin: 1em 0;">* Kada prosek novozaraženih na 100k stanovnika u poslednjih 14 dana padne ispod 20 vraćamo se u office.</h3>
